::-webkit-scrollbar {
    width: 5px
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #fff;
    -webkit-border-radius: 0;
    border-radius: 0
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0;
    border-radius: 0;
    background: #85bad5;
    -webkit-box-shadow: none
}

::-webkit-scrollbar-thumb:window-inactive {
    background: #fff
}

.fade-in {
    opacity: 1 !important;
    transition: 500ms linear all
}

input {
    outline: none
}

.footer2, #intercom-container, #intercom-launcher, .intercom-launcher-button {
    display: none !important
}

.fixed_notification {
    position: fixed;
    background-color: #ec6865;
    color: #fff;
    bottom: 0;
    left: 20%;
    right: 20%;
    padding: 2px;
    text-align: center;
    font-weight: 700;
    font-size: 1em
}

.messages-wrapper {
    /*direction: ltr !important;
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;*/
    display: flex;
    background-color: #fafafa;
    /*padding: 35px 0;*/
    text-align: center;
    margin: 0 0 50px;
}

.messages-wrapper #conversation-container, .messages-wrapper #contact-list {
    display: inline-block;
    vertical-align: top;
    background-color: #fff;
    height: 100%;
    overflow: hidden;
    min-height: 500px;
}

.messages-wrapper #contact-list {
    border: solid 1px #dbdbe6
}

.messages-wrapper #contact-list .search-contact-box {
    border-bottom: solid 1px #dbdbe6;
    font-weight: 700;
    font-size: 1.2em;
    min-height: 50px;
    background: #f8f8f8
}

.messages-wrapper #contact-list .search-contact-box input.search-contact {
    width: 100%;
    padding: 0 20px;
    height: 48px;
    border: 0;
    background: #f8f8f8
}

.messages-wrapper #contact-list .search-contact-box .fa-search {
    width: 15%
}

.messages-wrapper #contact-list .search-contact-box form {
    width: 85%;
    margin-left: -10px
}

.messages-wrapper #contact-list .search-contact-box .fa-search, .messages-wrapper #contact-list .search-contact-box form {
    display: inline-block;
    color: #505050
}

.messages-wrapper #contact-list ul {
    height: 100%;
    width: 100%;
    padding-bottom: 50px;
    overflow-y: scroll
}

.messages-wrapper #contact-list ul li {
    position: relative;
    padding: 5px 0;
    text-align: center;
    border-bottom: solid 1px #dbdbe6;
    transition: all 100ms cubic-bezier(.37, .57, .29, 1.07);
    display: block;
    cursor: pointer;
}

.messages-wrapper #contact-list ul li .unseen-messages {
    position: absolute;
    bottom: 10px;
    right: 5px;
    background-color: #ff8484;
    width: 15px;
    height: 15px;
    line-height: 15px;
    color: #fff;
    font-size: 10px;
    border-radius: 50%
}

.messages-wrapper #contact-list ul li .left .user-img {
    border: solid 1px #6c95b3;
    border-radius: 50%
}

.messages-wrapper #contact-list ul li .left .fa {
    background: #fff;
    font-size: 2.5em;
    color: #4680cd;
    line-height: 70px
}

.messages-wrapper #contact-list ul li .right {
    padding: 0 5px;
    text-align: left
}

.messages-wrapper #contact-list ul li .right .user-name {
    color: #a13862;
    font-size: 1.2em;
    font-weight: 700
}

.messages-wrapper #contact-list ul li .right .last-msg {
    color: grey
}

.messages-wrapper #contact-list ul li .left, .messages-wrapper #contact-list ul li .right {
    display: inline-block;
    vertical-align: middle
}

.messages-wrapper #contact-list ul li:hover {
    background-color: #e9f7fc;
    border-left: solid 3px #9bcaef !important;
    cursor: pointer
}

.messages-wrapper #contact-list ul li.current {
    background-color: #e7f9ff;
    border-left: solid 2px #a03863 !important;
    pointer-events: none
}

.messages-wrapper #contact-list ul li.isDoctorPatient {
    border-left: solid 2px #7fd6d6
}

.messages-wrapper #contact-list ul li.not_found {
    background-color: #ffb6c1;
    color: #b22222;
    font-weight: 700;
    font-size: 1.1em;
    text-align: center
}

.messages-wrapper #contact-list ul li.search-animation {
    height: 70px;
    line-height: 70px;
    border: 0;
    font-size: 2em;
    text-align: center;
    color: grey;
    font-weight: 700;
    pointer-events: none
}

.messages-wrapper #contact-list ul li.search-animation .fa {
    margin: 0 10px;
    font-size: 1.5em
}

.messages-wrapper #contact-list ul li.load-more-btn {
    border: 0 !important;
    background-color: #eaeaea;
    padding: 5px;
    border-radius: 4px;
    margin: 7px;
    font-weight: 700;
    transition: 150ms all
}

.messages-wrapper #contact-list ul li.load-more-btn:hover {
    color: #fff;
    background-color: #029ee1
}

.messages-wrapper #conversation-container {
    position: relative;
    /*margin-left: -3px;*/
    text-align: left;
    border: solid 1px #dbdbe6;
    border-left: 0
}

.messages-wrapper #conversation-container .loading-conversation {
    padding: 30px;
    text-align: center;
    font-size: 4em;
    color: #53b0d8;
    margin-top: 20px
}

.messages-wrapper #conversation-container .messages-list {
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    bottom: 50px;
    top: 50px;
    left: 0;
    right: 0
}

.messages-wrapper #conversation-container .messages-list .show-more {
    text-align: center
}

.messages-wrapper #conversation-container .messages-list .show-more .btn {
    margin: 5px 0;
    padding: 5px 20px;
    color: #cd5c5c;
    font-weight: 700;
    font-size: 1em
}

.messages-wrapper #conversation-container .conversation-header {
    position: relative;
    z-index: 0;
    padding: 0 20px;
    font-size: 1.2em;
    background-color: #f6f6f6;
    border-bottom: solid 1px lightgrey;
    min-height: 50px;
    line-height: 50px
}

.messages-wrapper #conversation-container .conversation-header .user-name,
.messages-wrapper #conversation-container .conversation-header .user-name a {
    color: #a13862;
    font-weight: 700
}

.messages-wrapper #conversation-container .conversation-header button#convMenu {
    margin: 0 5px;
    padding: 1px 6px;
    background-color: #e3e3e3;
    color: #5191a7
}

.messages-wrapper #conversation-container .send-box {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: solid 1px #dbdbe6;
    z-index: 1
}

.messages-wrapper #conversation-container .send-box.disable {
    opacity: .6;
    pointer-events: none
}

.messages-wrapper #conversation-container .send-box input.new-message {
    font-size: 1.1em;
    padding: 15px 20px;
    border: 0;
    width: 100%;
    height: 50px
}

.messages-wrapper #conversation-container .send-box input.new-message[disabled] {
    background-color: #f9f9f9
}

.messages-wrapper #conversation-container .send-box .error {
    border: solid 2px rgba(255, 120, 120, .52) !important
}

.messages-wrapper #conversation-container .send-box .fa-paper-plane,
.messages-wrapper #conversation-container .send-box .fa-sending,
.messages-wrapper #conversation-container .send-box .sending-btn {
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 1.5em;
    background-color: #872f57;
    color: #fff;
    z-index: 2;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
    transition: all 70ms cubic-bezier(.45, -.06, 1, 1.42)
}

.messages-wrapper #conversation-container .send-box .upload-btn {
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    position: absolute;
    right: 50px;
    top: 0;
    cursor: pointer;
}

.messages-wrapper #conversation-container .send-box .upload-btn .fa {
    font-size: 20px;
    margin-top: 15px;
}

.messages-wrapper #conversation-container .send-box .fa-paper-plane:hover, .messages-wrapper #conversation-container .send-box .fa-sending:hover {
    font-size: 2em
}

.messages-wrapper #conversation-container .send-box .fa-sending {
    border-radius: 50%;
    pointer-events: none;
    line-height: 50px;
    background-color: #c3c3c3;
    color: #1e1e1e
}

.messages-wrapper #conversation-container #start-of-new-msg {
    margin: 4px;
    font-size: .9em;
    color: grey;
    text-align: center;
    border-bottom: solid 1px #ffb6c1
}

.messages-wrapper #conversation-container .message {
    margin: 10px 5px;
    text-align: left
}

.messages-wrapper #conversation-container .message .sender-image, .messages-wrapper #conversation-container .message .message-content {
    display: inline-block;
    vertical-align: top
}

.messages-wrapper #conversation-container .message .sender-image img {
    position: relative;
    z-index: 1;
    box-shadow: 0 0 0 4px #fff;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    border: solid 1px lightgrey;
    background: #fff
}

.messages-wrapper #conversation-container .message .message-content {
    position: relative;
    border-radius: 0 15px;
    padding: 10px 15px;
    padding-bottom: 5px;
    background-color: #e8e8e8;
    max-width: 450px;
    text-align: left
}

.messages-wrapper #conversation-container .message .message-content .content {
    padding: 0;
    direction: ltr;
    min-height: 100%;
}

.messages-wrapper #conversation-container .message .message-content .time {
    color: gray;
    font-style: italic;
    font-size: .8em;
    font-weight: 700;
    padding-top: 3px
}

.messages-wrapper #conversation-container .message .message-content .pointer {
    position: absolute;
    top: 0;
    left: -20px;
    height: 20px;
    width: 20px;
    background-color: #e8e8e8
}

.messages-wrapper #conversation-container .message.mine {
    text-align: right;
    direction: rtl
}

.messages-wrapper #conversation-container .message.mine .message-content {
    border-radius: 15px 0;
    background-color: rgba(136, 47, 85, .30);
}

.messages-wrapper #conversation-container .message.mine .message-content .time {
    text-align: right;
    color: #fff;
    direction: ltr
}

.messages-wrapper #conversation-container .message.mine .message-content .pointer {
    right: -20px;
    background-color: rgba(136, 47, 85, .30);
}

.messages-wrapper #conversation-container .message.mine .message-content .message-img {
    width: 100%;
}

@media (max-width: 765px) {
    .fixed_notification {
        display: none;
        left: 0;
        right: 0
    }

    .messages-wrapper {
        padding: 4px;
        top: 46px
    }

    .messages-wrapper #contact-list ul {
        padding-bottom: 50px
    }

    #conversation-container {
        width: 100% !important;
        border: solid 1px #dbdbe6 !important
    }

    #conversation-container .conversation-header {
        font-size: 1.1em !important
    }

    #conversation-container .conversation-header .close {
        line-height: 50px;
        color: #525252;
        opacity: .6
    }

    #conversation-container .messages-list {
        top: 75px !important
    }

    #contact-list {
        width: 100%;
    }

    #contact-list ul li {
        border-left: 0 !important
    }

    #contact-list .search-contact-box {
        font-size: 1.1em !important
    }

    #contact-list .search-contact-box input.search-contact {
        padding: 12px !important
    }

    #contact-list .current {
        cursor: pointer;
        background-color: transparent !important;
        pointer-events: initial !important
    }

    #contact-list ul li .left .user-img {
        width: 70px;
        height: 70px
    }

    #contact-list ul li .right {
        width: 300px
    }

    #contact-list ul li .right .user-name {
        font-size: 1.1em;
    }
}

@media (max-width: 400px) {
    #contact-list {
        width: 100%
    }

    #contact-list .left .user-img {
        width: 80px;
        height: 80px
    }

    #contact-list ul li .right {
        width: 220px
    }
}

@media (min-width: 765px) {
    #conversation-container {
        width: 480px
    }

    #conversation-container .message .message-content {
        max-width: 350px !important
    }

    #contact-list {
        width: 280px
    }

    #contact-list .left .user-img {
        width: 60px;
        height: 60px
    }

    #contact-list .right {
        width: 190px
    }

    #contact-list .right .user-name {
        font-size: 1em !important
    }
}

@media (min-width: 992px) {
    #conversation-container {
        width: 600px
    }

    #conversation-container .message .message-content {
        max-width: 400px !important
    }

    #contact-list {
        width: 300px
    }

    #contact-list .left .user-img {
        width: 70px;
        height: 70px
    }

    #contact-list .right {
        width: 200px
    }
}

@media (min-width: 1200px) {
    #conversation-container {
        width: 800px
    }

    #conversation-container .message .message-content {
        max-width: 450px !important
    }

    #contact-list {
        width: 400px
    }

    #contact-list .left .user-img {
        width: 70px;
        height: 70px
    }

    #contact-list .right {
        width: 280px
    }
}

@media (max-width: 550px) {
    .message {
        position: relative
    }

    .message .sender-image {
        position: absolute;
        left: 0;
        top: 0
    }

    .message .message-content {
        margin-left: 50px
    }

    .message.mine {
        position: relative
    }

    .message.mine .sender-image {
        position: absolute;
        right: 0;
        top: 0
    }

    .message.mine .message-content {
        margin: 0;
        margin-right: 50px
    }
}

html[lang=ar] .messages-wrapper #conversation-container .message .message-content .time, html[lang=ar] .messages-wrapper #contact-list ul li .right .last-msg .time {
    direction: rtl !important
}

.mobile-overlay-menu {
    display: none;
    background-color: #616161;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    opacity: .5
}

.messages-wrapper #conversation-container .message.sent-message {
    text-align: right;
}

.contact-box-header {
    padding: 10px;
}

.message-content .message-content--img .download-img-icon {
    position: absolute;
    top: 13px;
    right: 20px;
    font-size: 15px;
}

.message-content .message-content--img .message-img {
    width: 100%;
}
