@media (max-width:448px) {
    .doctor-profile-slide #calendar_blk.sticky-calendar {
        position: fixed;
        top: 0;
        left: 0;
        width: calc(100% - 1px);
        z-index: 10000;
        border: none;
    }

    .doctor-profile-slide #calendar_blk.sticky-calendar .evt-br-doc {
        border: none;
    }

    .doctor-profile-slide #calendar_blk.sticky-calendar .date-head {
        border-radius: 5px;
    }

    .doctor-profile-slide #calendar_blk.sticky-calendar .date-inner-mn {
        background: #e6e6e6;
        height: 0;
    }

    .doctor-profile-slide #calendar_blk.sticky-calendar.collapsed .date-head {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .doctor-profile-slide #calendar_blk.sticky-calendar.collapsed .date-inner-mn {
        height: 143px;
        border: 2px solid #a03863;
        transition: width 0.5s,  height 0.5s;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .doctor-profile-slide #calendar_blk.sticky-calendar .dttime .dttime-list li {
        padding: 0 20px;
        text-align: center;
    }

    .doctor-profile-slide #calendar_blk.sticky-calendar .dttime .dttime-list li h5 {
        font-size: 16px;
        font-weight: bold;
        word-spacing: 20px;
    }

}